@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');/*tipografia importada open-sans*/
/* --------------------------------- variables */
:root{
/* colores */
  --green_color:#7acc2d;
  --white_color:white;
/* tipografia */
  --normal: 12px;
/* padding */
  --space: 10px;
/* box-shadow */
  --box: 0 0 2px #bfbbbb;
}
/* --------------------------------- variables */
html , body {
  padding: 0px;
  margin: 0px;
  font-size: var(--normal);
  font-family: 'Open Sans', sans-serif;
}
/* ------------------------------- Nav section */
nav{
  display:flex;
  background-color: var(--green_color);
  padding: var(--space);
  color: white;
  justify-content: space-between;
  align-items: center;
}
nav ul{
  display:flex;
}
nav li{
  padding-left: 20px;
  list-style:none;
}
nav li a{
  color:black;
  text-decoration: none;
}
nav li a:hover{
  color:white;
}
/* ------------------------------- Main section */

.main_section{
  padding: 15px;
  text-align: center;
}
.products{
  background-image: url("../imagenes/curve.png");
  margin-top: 100px;
  padding:20%;
  background-size: cover;
  background-position: center top;
  display:flex;
}
.product{
  padding:var(--space);
  margin-top: -330px;
}
.content{
  background-color: white;
  padding:15px;
  text-align: center;
  box-shadow: 0 0 2px #bfbbbb;
}
.image_content{
  text-align: center;
}
.main_button{
  background-color: var(--green_color);
  width: 100%;
  padding: var(--space);
  font-size: 17px;
  color:white;
  border:0px;
  cursor: pointer;
  border-radius: 5px;
}
.main_button:hover{
  background-color: #3e7d02;
}
/* --------------------------- features_section */

.features_section{
  display:flex;
  justify-content: center;
  text-align: center;
  margin: 100px;
  font-size: 12px;
  text-align: justify;

}
.features{
  padding-top :200px;
  padding:100px;
}
.features img{
  height: 130px; width: 150px;
}
