body{
  background-color: #313337;
  text-align: center;
  color: var(--white_color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
}
.content_paypal a{
  text-decoration: none;
  color: var(--green_color);
}
